<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content  "-->
  <main class="container">
    <div >
      <h1 style="text-align: center;" id="main" class="display-2">Welcome to <%= title %> page</h1>
    </div>
    
  </main>
  

<%- include partials/home.ejs %>

<%- include partials/about.ejs %>   
    
<%- include partials/project.ejs %>
    
<%- include partials/service.ejs %>

<%- include partials/contact.ejs %>

<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




