<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 style="text-align: center;"><%= title %> </h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Name :</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter your goodname :"
                    name="name" required>
                </div>

                <div class="form-group">
                    <label for="numberTextField">Numbers :</label>
                    <input type="text" class="form-control"
                    id="numberTextField"
                    placeholder="Enter your 9-digit number:"
                    name="number" required>
                </div>

                <div class="form-group">
                    <label for="emailTextField">Email</label>
                    <input type="text" class="form-control"
                    id="emailTextField"
                    placeholder="Enter your mail adress"
                    name="email" required>
                </div>

                <button style="width: 50%;" onMouseOver="this.style.color='black'" onMouseOut="this.style.color='white'" class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a style="width: 49%;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='black'" href="/contact-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>



<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>