<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Name :</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter your goodname :"
                    name="name" required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Numbers :</label>
                    <input type="text" class="form-control"
                    id="authorTextField"
                    placeholder="Enter your 9-digit number:"
                    name="author" required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Email</label>
                    <input type="text" class="form-control"
                    id="publishedTextField"
                    placeholder="Enter your mail adress"
                    name="published" required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/contact-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>



<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>